<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, td, th {
            border: 3px solid black;
          }
          
          table {
            border-collapse: collapse;
            width: 100%;
          }
          th{
              font-size: 20px;
          }
          
          th,td {
            height: 40px;
            text-align: center;
          }
    </style>
</head>
<body>
    
    
        <div class="col-md">
            <div class="card card-body">
                <h2>Total Tickets : {{ count }}</h2>
                
                
            </div>
        </div>
    </div>
    
    
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
    
                <form method="get">
                    {{ myfilter.form }}
                    <button type="submit">Search</button>
                  </form>
            </div>
        </div>
        
    </div>
    <br>
    <br>
    <br>
    
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Title     </th>
                        <th>Content</th>
                        <th>Question Type</th>
                        <th>Priority   </th>
                        
                    </tr>
    
                    {% for ticket in tickets %}
    
                    <tr>
                        <td>{{ticket.title}}   </td>
                        <td>{{ticket.content}}</td>
                        <td>{{ticket.question_type}}  </td>
                        <td>{{ticket.ticket_priority}}   </td>
                        
                    {% endfor %}
    
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>